@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a) ao LabVida Diagnósticos</h1>
    <p class="texto">a está aNo Centro de Diagnósticos UltraLab, entendemos a importância da comunicação clara e do apoio ao paciente. Nossa equipe dedicadqui para orientá-lo em cada etapa do processo, esclarecer dúvidas e garantir que você se sinta confortável e informado durante todo o procedimento.
    <div class="img-lab">
        <img src="~/img/LabVida-Banner.jpg" />
    </div>
</div>
