@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Política de Privacidade</h1>

<p>Esta Política de Privacidade descreve como o LabVida Diagnósticos coleta, usa, compartilha e protege as informações pessoais dos usuários ao utilizar nossos serviços de exames laboratoriais.</p>
<p> 1. Informações Coletadas:</p>
<p>1.1. Informações Pessoais: Podemos coletar informações pessoais como nome, endereço, data de nascimento, sexo, número de telefone, endereço de e-mail e outras informações necessárias para a realização dos exames.</p>
<p>1.2. Informações de Saúde: Para fornecer resultados precisos, podemos coletar informações relacionadas à sua saúde, histórico médico e medicamentos em uso.</p>
<p>1.3. Informações de Pagamento: Ao efetuar pagamentos por nossos serviços, poderemos coletar informações de pagamento, como número do cartão de crédito, endereço de faturamento e outras informações relacionadas.</p>
<p>1.4. Informações Técnicas: Podemos coletar informações técnicas, como endereço IP, tipo de navegador, provedor de serviços de Internet, páginas visitadas e tempo gasto em nosso site, para melhorar a experiência do usuário e a segurança.</p>
<p>2. Uso das Informações:</p>
<p>2.1. Prestação de Serviços: Utilizamos suas informações para realizar os exames solicitados, fornecer resultados precisos e garantir a qualidade dos nossos serviços.</p>
<p>2.2. Comunicação: Podemos usar suas informações para enviar notificações sobre agendamentos, resultados de exames, informações sobre promoções e atualizações relevantes.</p>
<p>2.3. Melhoria Contínua: Analisamos as informações coletadas para aprimorar nossos serviços, personalizar a experiência do usuário e garantir a eficiência operacional do laboratório.</p>
<p>3. Compartilhamento de Informações:</p>
<p>3.1. Parceiros e Prestadores de Serviços: Podemos compartilhar informações com terceiros, como laboratórios parceiros e prestadores de serviços, apenas para a prestação adequada de serviços relacionados aos exames.</p>
<p>3.2. Cumprimento Legal: Em casos de exigências legais, podemos divulgar informações pessoais para cumprir com obrigações legais, ordens judiciais ou processos legais.</p>
<p>4. Segurança:</p>
<p>Implementamos medidas de segurança física, eletrônica e procedimental para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.</p>
<p>5. Seus Direitos:</p>
<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Para exercer esses direitos ou fazer perguntas sobre nossa política de privacidade, entre em contato conosco por meio dos canais disponíveis em nosso site.</p>
<p>6. Alterações na Política de Privacidade:</p>
<p>Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente. As alterações serão publicadas em nosso site, e recomendamos que você reveja esta política regularmente para estar ciente das atualizações.</p>
<p>Ao utilizar nossos serviços, você concorda com as práticas descritas nesta Política de Privacidade. Se não concordar com esta política, por favor, não utilize nossos serviços.</p>
<p>Data de Entrada em Vigor: 30/11/2023</p>
