html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.menu {
    background-color: #DAF8CF !important;
}

.navbar-brand {
    margin-top: -70px;
    margin-left: -26px;
}

img {
    height: 100%;
    object-position: center;
}

.img-logo {
    width: 150px;
    height: 130px;
    margin-left: 15px;
    margin-bottom: -10px;
}

.nav-item {
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-item :hover {
    color: #2D7013 !important;
}

.navbar-nav {
    margin-left: 115px;
}

.rodape {
    background-color: #DAF8CF !important;
    padding-left: 20px;
    color: black;
}

.texto {
    margin: 0px 96px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px
}

.display-4 {
    font-family: fantasy;
    color: #2D7013;
    font-size: 35px
}

.img-lab {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.a {
    text-decoration: none;
    color: #2D7013 !important;
}

.btncriar {
    text-decoration: none;
    color: #2D7013 !important;
    border: 1px solid #6943A4 !important;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
}

.btn-primary {
    background: #2D7013 !important;
    border: none !important;
}

.botao {
    text-decoration: none;
    color: #2D7013 !important;
}

.botao:hover {
    text-decoration: underline;
}